# Student Loan Risk with Deep Learning

In [3]:
# Import dependencies
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from pathlib import Path

#Disable SSL Verification (Not recommended - using this only because i'm using a work laptop to get around some firewall settings) - espeically not for production code due to security risks. for testing purposes you can use it
import requests
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student-loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [5]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/ai/ail-v-1-0/m18/lms/datasets/student-loans.csv"
loans_df = pd.read_csv(file_path)

# Review the DataFrame
loans_df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0

In [11]:
loans_df

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,0
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,0
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,0
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,1
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,0
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,1
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,1
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,0
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,1

In [7]:
# Review the data types associated with the columns
loans_df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

In [9]:
# Check the credit_ranking value counts
loans_df["credit_ranking"].value_counts()

credit_ranking
1    855
0    744
Name: count, dtype: int64

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [41]:
# Define the target set y using the credit_ranking column
y = loans_df['credit_ranking']

# Display a sample of y
y[:5]

0    0
1    0
2    0
3    1
4    0
Name: credit_ranking, dtype: int64

In [25]:
# Define features set X by selecting all columns but credit_ranking
X = loans_df.drop("credit_ranking", axis=1)

# Review the features DataFrame
X

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

### Step 3: Split the features and target sets into training and testing datasets.

In [45]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [48]:
# Create a StandardScaler instance
X_scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [60]:
# Define the the number of inputs (features) to the model
input_nodes = len(X.columns)

# Review the number of features
input_nodes

11

In [62]:
# Define the number of hidden nodes for the first hidden layer
nodes_hidden_layer1 =  6

# Define the number of hidden nodes for the second hidden layer
nodes_hidden_layer2 = 3

# Define the number of neurons in the output layer
nodes_output_layer = 1

In [64]:
# Create the Sequential model instance
nn_model = tf.keras.models.Sequential()

# Add the first hidden layer
nn_model.add(tf.keras.layers.Dense(units=nodes_hidden_layer1, 
                                   activation = "relu", 
                                   input_dim = input_nodes))

# Add the second hidden layer
nn_model.add(tf.keras.layers.Dense(units=nodes_hidden_layer2, 
                                   activation = "relu"))

# Add the output layer to the model specifying the number of output neurons and activation function
nn_model.add(tf.keras.layers.Dense(units=nodes_output_layer, 
                                   activation = "sigmoid"))

/opt/anaconda3/lib/python3.11/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [66]:
# Display the Sequential model summary
nn_model.summary()

Model: "sequential_2"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_6 (Dense)                 │ (None, 6)              │            72 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_7 (Dense)                 │ (None, 3)              │            21 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_8 (Dense)                 │ (None, 1)              │             4 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 97 (388.00 B)

 Trainable params: 97 (388.00 B)

 Non-trainable params: 0 (0.00 B)

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [68]:
# Compile the Sequential model
nn_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [70]:
# Fit the model using 50 epochs and the training data
fit_model=nn_model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 532us/step - accuracy: 0.4088 - loss: 0.7543
Epoch 2/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 483us/step - accuracy: 0.4315 - loss: 0.7256
Epoch 3/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 442us/step - accuracy: 0.4985 - loss: 0.6966
Epoch 4/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 414us/step - accuracy: 0.5492 - loss: 0.6746
Epoch 5/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 425us/step - accuracy: 0.5704 - loss: 0.6608
Epoch 6/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 398us/step - accuracy: 0.5741 - loss: 0.6533
Epoch 7/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 386us/step - accuracy: 0.5913 - loss: 0.6392
Epoch 8/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 399us/step - accuracy: 0.6952 - loss: 0.6163
Epoch 9/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 445us/step - accuracy: 0.7119 - loss: 0.5976
Epoch 10/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 407us/step - accuracy: 0.6982 - loss: 0.6036
Epoch 11/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 469us/step - accuracy: 0.7029 - loss: 0.5863
Epoch 12/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 443us/step - accuracy: 0.7104 - loss: 0.5771
Epoch 13/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 417us/step - accuracy: 0.7167 - loss: 0.5507
Epoch 14/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 448us/step - accuracy: 0.7417 - loss: 0.5654
Epoch 15/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 421us/step - accuracy: 0.7395 - loss: 0.5665
Epoch 16/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 405us/step - accuracy: 0.7521 - loss: 0.5375
Epoch 17/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 404us/step - accuracy: 0.7563 - loss: 0.5423
Epoch 18/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 457us/step - accuracy: 0.7568 - loss: 0.5371
Epoch 19/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 710us/step - accuracy: 0.7602 - loss: 0.5298
Epoch 20/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 463us/step - accuracy: 0.7403 - loss: 0.5354
Epoch 21/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 448us/step - accuracy: 0.7585 - loss: 0.5266
Epoch 22/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 450us/step - accuracy: 0.7399 - loss: 0.5454
Epoch 23/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 417us/step - accuracy: 0.7388 - loss: 0.5413
Epoch 24/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 467us/step - accuracy: 0.7483 - loss: 0.5246
Epoch 25/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 391us/step - accuracy: 0.7347 - loss: 0.5165
Epoch 26/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 416us/step - accuracy: 0.7335 - loss: 0.5417
Epoch 27/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 384us/step - accuracy: 0.7533 - loss: 0.5306
Epoch 28/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 417us/step - accuracy: 0.7619 - loss: 0.5074
Epoch 29/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 413us/step - accuracy: 0.7585 - loss: 0.5265
Epoch 30/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 423us/step - accuracy: 0.7529 - loss: 0.5282
Epoch 31/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 412us/step - accuracy: 0.7384 - loss: 0.5307
Epoch 32/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 445us/step - accuracy: 0.7496 - loss: 0.5273
Epoch 33/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 421us/step - accuracy: 0.7723 - loss: 0.5115
Epoch 34/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 430us/step - accuracy: 0.7296 - loss: 0.5429
Epoch 35/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 389us/step - accuracy: 0.7597 - loss: 0.4963
Epoch 36/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 501us/step - accuracy: 0.7702 - loss: 0.5032
Epoch 37/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 470us/step - accuracy: 0.7393 - loss: 0.5384
Epoch 38/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 465us/step - accuracy: 0.7541 - loss: 0.5183
Epoch 39/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 438us/step - accuracy: 0.7411 - loss: 0.5058
Epoch 40/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 454us/step - accuracy: 0.7494 - loss: 0.5276
Epoch 41/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 405us/step - accuracy: 0.7383 - loss: 0.5403
Epoch 42/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 442us/step - accuracy: 0.7432 - loss: 0.5087
Epoch 43/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 444us/step - accuracy: 0.7395 - loss: 0.5384
Epoch 44/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 563us/step - accuracy: 0.7457 - loss: 0.5206
Epoch 45/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 406us/step - accuracy: 0.7522 - loss: 0.5030
Epoch 46/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 405us/step - accuracy: 0.7568 - loss: 0.5044
Epoch 47/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 380us/step - accuracy: 0.7453 - loss: 0.5111
Epoch 48/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 431us/step - accuracy: 0.7524 - loss: 0.5057
Epoch 49/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 429us/step - accuracy: 0.7588 - loss: 0.5046
Epoch 50/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 417us/step - accuracy: 0.7556 - loss: 0.5106

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [72]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

13/13 - 0s - 5ms/step - accuracy: 0.7350 - loss: 0.5266
Loss: 0.526645839214325, Accuracy: 0.7350000143051147

### Step 4: Save and export your model to a keras file, and name the file `student_loans.keras`.

In [78]:
# Set the model's file path
file_path = Path("saved_models/student_loans.keras")

# Export your model to a keras file
nn_model.save(file_path)

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [80]:
# Set the model's file path
file_path = Path("saved_models/student_loans.keras")

# Load the model to a new object
nn_model_imported = tf.keras.models.load_model(file_path)

### Step 2: Make predictions on the testing data and save the predictions to a DataFrame.

In [84]:
# Make predictions with the test data
predictions = nn_model_imported.predict(X_test_scaled, verbose=2)

# Display a sample of the predictions
predictions[:5]

13/13 - 0s - 2ms/step

array([[0.41366586],
       [0.25265482],
       [0.8564364 ],
       [0.6705171 ],
       [0.9874379 ]], dtype=float32)

In [88]:
# Save the predictions to a DataFrame and round the predictions to binary results
predictions_df = pd.DataFrame(columns=['predictions'], data=predictions)
predictions_df["predictions"] = round(predictions_df["predictions"],0)
predictions_df

     predictions
0            0.0
1            0.0
2            1.0
3            1.0
4            1.0
..           ...
395          1.0
396          0.0
397          1.0
398          0.0
399          1.0

[400 rows x 1 columns]

### Step 4: Display a classification report with the y test data and predictions

In [94]:
# Print the classification report with the y test data and predictions
print(classification_report(y_test, predictions_df["predictions"].values))

              precision    recall  f1-score   support

           0       0.69      0.79      0.74       188
           1       0.79      0.68      0.73       212

    accuracy                           0.73       400
   macro avg       0.74      0.74      0.73       400
weighted avg       0.74      0.73      0.73       400

---
## Discuss creating a recommendation system for student loans

Briefly answer the following questions in the space provided:

1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.

2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.

3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.

**1. Relevant data for building a student loan recommendation system:**

Some of the key information influencing the review and appoval of student loans and their specific terms include:
- **Financial information:** such as the student's (for guarantor's) income, credit score, credit history, debt-to-income ratio, number of credit accounts.
- **Academic information:** the student's school, major, GPA, year of graduation.
- **Loan information:** specific preferences on loan terms (interest rate, terms, payment length)


**2. This recommendation system wow content-based filtering:**
as the recommendations(credit ranking worthiness, 1 or 0) are made by analyzing the the attributes of individual information (financial and academic information). THe neural network is trained with inputs of usuer feature/data and then predict which features are most influrential to the credit ranking.


**3. Real world challenges:**
- in this particular exercise the loan prediction is binary: whether an applicant will be recommended for loan or not. the model doesn't necessarily provide additional nuances of a multi-class prediction that may offer additional insight to the specific type/terms of student loans that the applicant may qualify for. Student loan regulation may also vary depending on locality or financial institutions. Additional features may be added to the model to improve its accuracy.

- The model doesn't necessarily address the dynamic financial situation a student may face. Additional features may also be added to reflect the appicant's financial health over a longer period of time.